/* --------
css menu
----------- */
*{ margin: 0; padding: 0; }* 
body{ 
	background-color: #FFFFFF;
	color: #9F9A9F;
	font: .8em normal small "Trebuchet MS",Tahoma, verdana, arial, helvetica, sans-serif;line-height: 1.6em;
	height:2000px; 
}

#container
{
	width: 90%;
	height:600px; 
	background-color: #FFFFFF;
	color: #333;
	text-align:left;
	color:black;
	font-family:arial;
}

#top
{
	background:#F5F5F5 ;
	height:114px;
	padding: .1em;
	padding:8px 32px;
	color:black;
	font-family:arial;
}

#navigation
{
	background:VioletRed;
	text-align:right;
	height:50px;
}

#top h1
{
	padding:10px 0px 0px 10px;
	font-size:40px;
	margin: 0;
	color:#65537A;
	text-align:center;
	font-family:arial;
}

#top p
{
	color:#fff;
	padding:0px 0px 0px 10px;	
}

#navigation ul
{
	list-style:none;
	margin:0;
	padding:0;
}

#navigation li
{
	display:inline;
	margin:20px;
}

#navigation li a
{
	font-weight:bold;	
	color:#fff;
	text-decoration:none;	
}

#navigation  a:hover
{
	color:#000;
	font:arial;
}

#leftnav
{
	font-family:arial;
	float: left;
	width: 140px;
	margin: 0;
	display:block;
	padding:8px 32px;
	color:#00008B;
	background-color:#DCDCDC;
	height:582px; 
}

#leftnav h2
{
	background:transparent url(images/sp.gif) no-repeat scroll left center;
	font-size:15px;
	padding:0 0 0 30px;
}

#leftnav ul
{
	list-style:none;
	padding:0 0 0 40px;
	font-size : 12px;
}

#leftnav li a
{
	font-size:0.9em; 
	text-decoration:none;
	color:#4169E1;
}

#leftnav li a:hover
{
	color:#9A203D;
}

#content
{
	margin-left: 200px;
	padding: 1em;
	font:arial;
	font-style:bold;
	font-size:20px;
	color:#4169E1;
}

#footer
{
	border-width : 1px; 
	border-color : gray;
	border-style : dotted;
	font-size:10px;
	text-align:center;
	font:arial;
	font:black;
	background-color:#FFFFFF;

}
#dottedLine {
	border-style : dotted ;
}
#leftnav p 
{ 
margin: 0 0 1em 0; 
}

#content h2 { margin: 0 0 .5em 0; }

#monCSS {
	padding:3px 0px 0px 3px;
	font-size=10px
	margin: 1;
	color:black;
	font-family:arial;
	border-width:2px;
	border-style:outset;
	border-color:black;
	display:block;
}

/*
---------------------
CSS du formulaire : 
---------------------
*/

fieldset {
	padding:0 20px 20px 20px;
	margin-bottom:10px;
	border:2px solid #4169E1;
}

legend {
	font-family:arial;
	font-size:20px;
	color:#000080;
	font-weight:bold;

}

input[type=submit], input[type=reset] {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #4169E1;
	cursor:pointer;
}

form {
	background-color:white;
	padding:10px;
	width:280px;
	}

label {
	font-size:15px;
	font-style: bold;
	color:#4169E1;
	font:arial;
}

.error 
{
	color: #FF0000;
	font-style: italic;
	padding-left: 2em;
}

/* ----------------------------------------------------------------------
CSS du menu deroulant s'inscrire, il faut toutes les rubriques ci-dessous
------------------------------------------------------------------------- */
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: right;
	font-family:arial;
	font-size:15px;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
	text-align:center;
	background-color:#D02090;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
	color:#8B008B;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
	
}